In [3]:
import pandas as pd

In [4]:
csv_path = "PyBank_budget_data (1).csv"

In [6]:
PyBank_df = pd.read_csv(csv_path)
PyBank_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [8]:
number_of_months = len (PyBank_df["Date"])

In [10]:
number_of_months

86

In [18]:
Total = PyBank_df['Profit/Losses'].sum()
print (Total)

38382578

In [92]:
PyBank_df['AmtChange'] = PyBank_df["Profit/Losses"].diff()
print ( 'PyBank_df')
PyBank_df.head()

PyBank_df

     Date  Profit/Losses  AmtChange
0  Jan-10         867884        NaN
1  Feb-10         984655   116771.0
2  Mar-10         322013  -662642.0
3  Apr-10         -69417  -391430.0
4  May-10         310503   379920.0

In [93]:
PyBank_New_df = PyBank_df

In [86]:
PyBank_New_df["AmtChange"].mean()

-2315.1176470588234

In [87]:
PyBank_New_df['AmtChange'].max()

1926159.0

In [89]:
PyBank_New_df['AmtChange'].min()

-2196167.0

In [107]:
PyBank_New_df.iloc[PyBank_New_df['AmtChange'].idxmax()]

Date                  Feb-12
Profit/Losses        1170593
AmtChange        1.92616e+06
Name: 25, dtype: object

In [108]:
PyBank_New_df.iloc[PyBank_New_df['AmtChange'].idxmin()]

Date                  Sep-13
Profit/Losses       -1196225
AmtChange       -2.19617e+06
Name: 44, dtype: object