In [2]:
import pandas as pd

In [100]:
csv_path = "PyPoll.csv"

In [101]:
PyPoll_df = pd.read_csv(csv_path)
PyPoll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [102]:
Total_Votes_df = PyPoll_df.count

In [103]:
Total_Votes_df

<bound method DataFrame.count of          Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
1048570  15257733  Marsh      Khan
1048571  18621583  Marsh      Khan
1048572  15990024  Queen      Khan
1048573  11307924  Marsh      Khan
1048574  15590933  Marsh      Khan

[1048575 rows x 3 columns]>

In [113]:
PyPoll_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [116]:
column = PyPoll_df['Candidate']
column.count()

1048575

In [146]:
Number_Votes_df = PyPoll_df.groupby('Candidate').size()

In [147]:
Number_Votes_df

Candidate
Correy      209046
Khan        661583
Li          146360
O'Tooley     31586
dtype: int64

In [149]:
Number_Votes_df.head()

Candidate
Correy      209046
Khan        661583
Li          146360
O'Tooley     31586
dtype: int64

In [159]:
# Create Data Frame
raw_data_items = {
    "Candidate_Name": ["Kahn", "Correy", "Li", "O_Tooley"],
    "Number_Votes": [661583, 209046, 146360, 31586]
}
Poll_df = pd.DataFrame(raw_data_items, columns=[
    "Candidate_Name", "Number_Votes"])
Poll_df

  Candidate_Name  Number_Votes
0           Kahn        661583
1         Correy        209046
2             Li        146360
3       O_Tooley         31586

In [171]:
Poll_df['%'] = ((Poll_df['Number_Votes']/Poll_df['Number_Votes'].sum())*100).round(2).astype(str) + '%'

In [172]:
Poll_df

  Candidate_Name  Number_Votes       %
0           Kahn        661583  63.09%
1         Correy        209046  19.94%
2             Li        146360  13.96%
3       O_Tooley         31586   3.01%

In [183]:
Winner = Poll_df.iloc[Poll_df['Number_Votes'].idxmax()]

In [187]:
print ("Winner", Winner)

Winner Candidate_Name      Kahn
Number_Votes      661583
%                 63.09%
Name: 0, dtype: object